.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout-main {
    flex: 1;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    /* Default for desktop/map: no extra padding */
}

/* Mobile Adjustments */
@media (max-width: 767px) {
    .layout-main {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (min-width: 768px) {
    .layout-main {
        padding-top: 64px;
        /* Desktop Nav Height */
    }
}